$color-text-blue:#3442B5;


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #9F9F9F;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }

  &::before {
    margin-right: 10px;
    margin-left: 150px;
  }

  &::after {
    margin-left: 10px;
    margin-right: 150px;
  }

  h2{
    color: $color-text-blue;
    font-weight: 700;
    font-size: 30px;
  }
}

p{
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
}
