$color-text-white: #fff;
$color-text-purple: #271C47;
$margin-bootom: 1rem;
$color-bg: #F7CA11;

.productCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    padding: 0 5rem;
    margin-bottom: 3rem;
    gap:10px;
}

.productImage {
    position: relative;
    width: 520px;
    height: auto;

    img {
        width: 100%;
        height: auto;
        filter: brightness(0.8);
        display: block;
    }
}

.productDetails{
    position: absolute; 
    top: 40%; 
    left: 50px;

    h1{
        color: $color-text-white;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        margin-bottom: $margin-bootom;
    }

    h3{
        color: $color-text-white;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: $margin-bootom;
        width: 210px;
    }

    button{
        color: $color-text-purple;
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 8%;
        text-align: center;
        text-transform: uppercase;

        border-radius: 10px;

        padding: 0.8rem;
        background-color: $color-bg;
    }
}



