$color-bg: #2a1b47;
$btn-bg: #f7ca11;
$btn-text: #271c47;
$color-text-white: #fff;

.container {
    background-color: $color-bg;
    display: flex;
    flex-direction: row;
    height: 150px;
    padding: 0 2rem;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.newsletterHeader {
    text-align: left;
    color: $color-text-white;
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 

    h1 {
        font-size: 1.75rem; 
        font-weight: 600;
        line-height: 1.3;
    }

    p {
        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: 0.9rem; 
        line-height: 1.4;  
        opacity: 0.9;   
        text-align: left;   
    }
}


.formContainer {
    padding: 0.9rem;
    border-radius: 8px;
    width: fit-content;

    form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        color: $color-text-white;
    }

    .formFields {
        display: flex;
        gap: 0.8rem;

        input {
            padding: 0.6rem 0.8rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 1rem;
            flex: 1;
        }

        button {
            background: $btn-bg;
            color: $btn-text;
            border: none;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            padding: 0.5rem 1rem;
            transition: 0.2s;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    .formterms {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $color-text-white;
        
        input[type="checkbox"] {
            width: 16px;
            height: 15px;
        }

        label {
            font-size: 0.9rem;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;   
        }
    }
}